---
import { Icon } from 'astro-icon/components'

interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<details class="w-full max-w-screen-lg bg-bg-light rounded overflow-hidden [&[open]__.accordion-icon]:rotate-180">
  <summary class="list-none flex items-center justify-between gap-4 clamp-[p,4,6] cursor-pointer hover:bg-gray-200 focus:bg-gray-200 text-heading-sm text-left m-0">
    {title}
    <Icon class="accordion-icon clamp-[w,8,10] h-auto" name="expand" />
  </summary>
  <section class="clamp-[p,4,6] flex flex-col gap-6 border-t border-gray-300">
    <slot />
  </section>
</details>
