---
import Container from "@components/Container.astro";
import { Image } from 'astro:assets';
import mhclgLogo from '/public/mhclg-logo.svg';
import odpLogo from '/public//odp-logo.svg';
---

<footer class="bg-bg-dark text-white pb-20">
  <Container paddingY>
    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-1">
        <p class="text-body-md">Supported by:</p>
        <div class="flex flex-row items-center gap-8">
          <Image src={mhclgLogo} alt="Ministry of Housing, Communities and Local Government logo" class="clamp-[w,30,36]" />
          <Image src={odpLogo} alt="Open Digital Planning logo" class="clamp-[w,30,36]" />
        </div>
      </div>
      <p class="text-body-md">All content is available under the <a class="paragraph-link paragraph-link--external" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government License v3</a>, except where otherwise stated</p>
    </div>
  </Container>
</footer>
