---
import Button from "@components/Button.astro";
import Container from "@components/Container.astro";
---

<header class="bg-bg-main">
  <Container>
    <div class="flex flex-col lg:flex-row justify-between lg:items-center py-6 gap-4">
      <a href="/">
        <img src="/local-planning-services-logo.svg" alt="Local planning services logo" class="clamp-[w,24,32] text-bg-light" />
      </a>
      <nav class="flex items-center clamp-[gap,7,8]">
        <ul class="flex clamp-[gap,6,8]">
          <li><a class="paragraph-link font-semibold text-body-md" href="/">Home</a></li>
          <li><a class="paragraph-link font-semibold text-body-md" href="/search">Search</a></li>
          <li><a class="paragraph-link font-semibold text-body-md" href="/about">About</a></li>
        </ul>
        <Button href="/applications" variant="secondary" size="small">Your applications</Button>
      </nav>
    </div>
  </Container>
</header>


