---
import Container from "@components/Container.astro";
const { title } = Astro.props;
---

<section class="clamp-[py,10,20] bg-bg-main">
  <Container class="text-center">
    <h1 class="text-heading-xl">{title}</h1>
    <div class="text-text-secondary text-body-lg max-w-2xl">
      <slot />
    </div>
  </Container> 
</section>
