<nav>
  <ul class="flex justify-end gap-4">
    <li><a href="/">Home</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/test">Test</a></li>
  </ul>
</nav>
