---
import type { Service } from "@lib/lpa-api";
import { PUBLIC_PLANX_EDITOR_URL } from "astro:env/client";
import Button from "./Button.astro";

type Props = Service;

const { name, slug, summary } = Astro.props;
const { lpa } = Astro.params;

if (!lpa) return;
---

<li class="flex flex-col lg:flex-row gap-4 p-8 rounded my-4 bg-bg-light w-full justify-between items-start lg:items-center">
  <div class="lg:w-2/3">
    <h3 class="font-semibold mb-2 text-xl">{name}</h3>
    <p class="text-text-secondary">
      {
        summary ||
          "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, voluptatum ipsam."
      }
    </p>
  </div>
  <!-- TODO: custom subdomains -->
  <Button
    href=`${PUBLIC_PLANX_EDITOR_URL}/${lpa}/${slug}/preview`
    variant="primary"
  >
    Start your application
  </Button>
</li>
