@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "tailwind-clamp";

@theme {

  /*
  / Color palette
  */

  /* Global colors */
  --color-black: #1A1B1B;
  --color-white: #FFFFFF;

  /* Background colors */
  --color-bg-main: #DDF0EC;
  --color-bg-light: #F2F5F5;
  --color-bg-dark: var(--color-black);

  /* Text colors */
  --color-text-main: var(--color-black);
  --color-text-secondary: #464949;

  /* Action colors */
  --color-action-main: #FECE85;
  --color-action-main-hover: #FFDFAE;
  --color-action-secondary: #1F2F2B;
  --color-action-secondary-hover: var(--color-black);
  
  /*
  / Typography
  */

  --default-font-family: "Inter", ui-sans-serif, system-ui, sans-serif;

  /*
  / Layout styles
  */

}

@layer components {

  /*
  / Fluid type styles
  */

  /* Heading styles */
  .text-heading-xl {
    @apply font-bold clamp-[text,3xl,5xl];
    margin-bottom: 0.5em;
  }
  .text-heading-lg {
    @apply font-bold clamp-[text,2xl,4xl];
    margin-bottom: 0.5em;
  }
  .text-heading-md {
    @apply font-semibold clamp-[text,xl,3xl];
    margin-bottom: 0.5em;
  }
  .text-heading-sm {
    @apply font-semibold clamp-[text,xl,2xl];
    margin-bottom: 0.5em;
  }
  .text-heading-xs {
    @apply font-semibold clamp-[text,base,xl];
    margin-bottom: 0.5em;
  }

  /* Paragraph styles */
  .text-body-xl,
  .text-body-xl p {
    @apply clamp-[text,lg,xl];
    margin-bottom: 0.5em;
  }
  .text-body-lg,
  .text-body-lg p {
    @apply clamp-[text,base,lg];
    margin-bottom: 0.5em;
  }
  .text-body-md,
  .text-body-md p {
    @apply clamp-[text,sm,base];
    margin-bottom: 0.5em;
  }
  .text-body-sm,
  .text-body-sm p {
    @apply clamp-[text,xs,sm];
    margin-bottom: 0.5em;
  }

  .paragraph-link {
    @apply underline underline-offset-6;
  }
  .paragraph-link--external::after {
    content: " ↗";
  }

  /*
  /  Button styles
  */

  /* Core button styles */
  .button {
    @apply inline-block font-semibold rounded transition cursor-pointer;
  }

  /* Button variants */
  .button--primary {
    @apply bg-action-main hover:bg-action-main-hover;
  }
  .button--secondary {
    @apply bg-action-secondary hover:bg-action-secondary-hover text-white;
  }

  /* Button sizes */
  .button--large {
    @apply clamp-[text,base,lg] clamp-[py,3,4] clamp-[px,4,5];
  }
  .button--medium {
    @apply clamp-[text,sm,base] clamp-[py,2,3] clamp-[px,3,4];
  }
  .button--small {
    @apply clamp-[text,xs,sm] py-2 clamp-[px,2,3];
  }
}
