# HASURA_PROXY_PORT - The publicly exposed port through which this service can be accessed
# HASURA_NETWORK_LOCATION - Either "hasura" in Docker environments, or "localhost" on Fargate


# General options
{
	# Handle HTTPS redirection in AWS at the LoadBalancer level
	auto_https off
}

# Reverse proxy for Hasura GraphQL Engine
:{$HASURA_PROXY_PORT} {
	reverse_proxy {$HASURA_NETWORK_LOCATION}:8080

	# Update response headers
	header {
		# Enable HSTS
		# Strict-Transport-Security "max-age=15552000; includeSubDomains"

		# Disable clients from sniffing the media type
		X-Content-Type-Options nosniff

		# Clickjacking protection
		X-Frame-Options DENY

		# Do not leak server information
		-Server
	}
}
