@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 100vh;
}
