# Please see https://github.com/theopensystemslab/planx-new/blob/main/doc/architecture/decisions/0004-secret-generation.md for procedure on secrets generation

# Used by docker-compose in local development and pull request (aka pizza) environments

# API
API_PORT=7002
API_URL_EXT=http://localhost:${API_PORT}

JWT_SECRET=👻

SESSION_SECRET=👻

GOOGLE_CLIENT_ID=👻
GOOGLE_CLIENT_SECRET=👻

# AWS credentials for uploading user files from local and pull request environments to a staging S3 bucket
AWS_S3_REGION=eu-west-2
AWS_S3_ACL=public-read
AWS_S3_BUCKET=👻
AWS_ACCESS_KEY=👻
AWS_SECRET_KEY=👻

# User-uploaded S3 files require token-based access (token is used internally and shared with BOPS; local and pull request environments use the staging token)
FILE_API_KEY=👻

# Editor/Preview
EDITOR_URL_EXT=http://localhost:3000

# Hasura
HASURA_GRAPHQL_ADMIN_SECRET=👻
HASURA_PROXY_PORT=7000
HASURA_GRAPHQL_URL=http://localhost:${HASURA_PROXY_PORT}/v1/graphql
HASURA_CONSOLE_PORT=9695
HASURA_GRAPHQL_CORS_DOMAIN="http://localhost:${API_PORT}, http://localhost:${HASURA_CONSOLE_PORT}, http://localhost:3000, http://api:${API_PORT}, http://localhost:${HASURA_PROXY_PORT}/v1/graphql, https://*.planx.uk, https://*.planx.dev, https://*.planx.pizza, https://*.gov.uk"

# Hasura Metadata API
HASURA_PLANX_API_URL=http://api:${API_PORT}
HASURA_PLANX_API_KEY=👻

# Hasura Events send messages to #planx-notifications channel
SLACK_WEBHOOK_URL=👻

# Metabase analytics
METABASE_PORT=5000

# Minio object storage server
MINIO_PORT=9000
MINIO_ADMIN_PORT=9001

# PostgreSQL
PG_PORT=7001
PG_DATABASE=👻
PG_PASSWORD=👻
PG_USERNAME=👻

# ShareDB
SHAREDB_PORT=7003

# Integrations (local and pull request environments point to third party staging environments)
BOPS_API_ROOT_DOMAIN=👻
BOPS_API_TOKEN=👻

GOV_UK_PAY_TOKEN_BUCKINGHAMSHIRE=👻
GOV_UK_PAY_TOKEN_LAMBETH=👻
GOV_UK_PAY_TOKEN_SOUTHWARK=👻

GOVUK_NOTIFY_API_KEY=👻
GOVUK_NOTIFY_SAVE_RETURN_EMAIL_TEMPLATE_ID=👻
GOVUK_NOTIFY_RESUME_EMAIL_TEMPLATE_ID=👻
GOVUK_NOTIFY_REMINDER_EMAIL_TEMPLATE_ID=👻
GOVUK_NOTIFY_EXPIRY_EMAIL_TEMPLATE_ID=👻
GOVUK_NOTIFY_SUBMISSION_EMAIL_TEMPLATE_ID=👻

UNIFORM_TOKEN_URL=👻
UNIFORM_SUBMISSION_URL=👻
UNIFORM_CLIENT_AYLESBURY_VALE=👻
UNIFORM_CLIENT_CHILTERN=👻
UNIFORM_CLIENT_LAMBETH=👻
UNIFORM_CLIENT_SOUTHWARK=👻
UNIFORM_CLIENT_WYCOMBE=👻
