node_modules/
/ignore/
apps/editor.planx.uk/.eslintcache
/minio-data
.pnpm-debug.log
.DS_Store
logs/

# Secrets
.env
.envrc
.env.prod
.env.temp
apps/api.planx.uk/.env.test
apps/editor.planx.uk/.env
apps/hasura.planx.uk/.env.test
apps/hasura.planx.uk/.env.test

# IDE
.vscode
.devcontainer
/test-results/
/playwright-report/
/playwright/.cache/
apps/api.planx.uk/tmp/

# Python
.python-version
__pycache__
.venv/
.ruff_cache/

# Ignore certificate files
*.chain
*.cert
*.cer
*.csr
*.crt
*.key
*.pfx
*.pfx.txt
*.pkcs12
*.p12
*.p7b
*.pem
*.zip

# Tooling
.aider*
