node_modules/
/ignore/
editor.planx.uk/.eslintcache
/minio-data
.pnpm-debug.log
.DS_Store

# Secrets
.env
.envrc
.env.prod
.env.temp
api.planx.uk/.env.test
hasura.planx.uk/.env.test

# IDE
.vscode
.devcontainer
/test-results/
/playwright-report/
/playwright/.cache/
api.planx.uk/tmp/

# Shared modules
# the shared folder is required for the docker image
# in the api but can be built on-the-fly for the editor
editor.planx.uk/shared/*

# track empty/ignored directories containing .gitkeep
!.gitkeep
