version: "3.8"

services:
  postgres:
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      target: development
    restart: always
    volumes:
      - "./api.planx.uk:/api"
    environment:
      NODE_ENV: "development"

  sharedb:
    volumes:
      - "./sharedb.planx.uk:/sharedb"
      - "/sharedb/node_modules"

volumes:
  postgres_data:
