version: "3.8"

# If you change anything here (e.g. environment variables)
# remember to cascade the change to `infrastructure/`

services:
  postgres:
    volumes:
      - postgres_data:/var/lib/postgresql/data
    labels:
      virtual.host: postgres.${ROOT_DOMAIN}
      virtual.port: 5432
      virtual.tls: ${TLS_EMAIL}

  hasura:
    env_file: "./.env.pizza"
    labels:
      virtual.port: 8080
      virtual.tls: ${TLS_EMAIL}

  hasura-proxy:
    labels:
      virtual.host: hasura.${ROOT_DOMAIN}
      virtual.port: 7000
      virtual.tls: ${TLS_EMAIL}

  api:
    build:
      target: production
    volumes:
      - "/api/node_modules"
      - "/api/dist"
    env_file: "./.env.pizza"
    labels:
      virtual.host: api.${ROOT_DOMAIN}
      virtual.port: ${API_PORT}
      virtual.tls: ${TLS_EMAIL}
    environment:
      NODE_ENV: "pizza"

  sharedb:
    env_file: "./.env.pizza"
    labels:
      virtual.host: sharedb.${ROOT_DOMAIN}
      virtual.port: 8000
      virtual.tls: ${TLS_EMAIL}

  editor:
    image: pierrezemb/gostatic
    volumes:
      - ./editor.planx.uk/build:/srv/http
    entrypoint: "/goStatic --fallback /index.html"
    labels:
      virtual.host: ${ROOT_DOMAIN}
      virtual.port: 8043
      virtual.tls: ${TLS_EMAIL}

  caddy-gen:
    image: wemakeservices/caddy-gen:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - caddy_data:/data/caddy # to back up certificates
    ports:
      - 80:80
      - 443:443

volumes:
  postgres_data:
  caddy_data:
  caddy_config:
