version: "3.8"

# If you change anything here (e.g. environment variables) remember to cascade the change to `infrastructure/`

services:
  postgres:
    image: postgis/postgis:12-3.0-alpine
    restart: unless-stopped
    ports:
      - ${PG_PORT}:5432
    volumes:
      - data:/var/lib/postgresql/data
    command: "postgres -c listen_addresses='*'"
    environment:
      POSTGRES_DB: ${PG_DATABASE}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_USER: ${PG_USERNAME}
    labels:
      virtual.host: postgres.${ROOT_DOMAIN}
      virtual.port: 5432
      virtual.tls: ${TLS_EMAIL}

  hasura:
    build:
      context: ./hasura.planx.uk
      dockerfile: Dockerfile
    ports:
      - ${HASURA_GRAPHQL_PORT}:8080
    depends_on:
      - postgres
    volumes:
      - "./hasura.planx.uk/metadata:/hasura-metadata"
      - "./hasura.planx.uk/migrations:/hasura-migrations"
    restart: unless-stopped
    environment:
      HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET}
      HASURA_GRAPHQL_CORS_DOMAIN: "*"
      HASURA_GRAPHQL_DATABASE_URL: postgres://${PG_USERNAME}:${PG_PASSWORD}@postgres/${PG_DATABASE}
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      HASURA_GRAPHQL_JWT_SECRET: '{ "type": "HS256", "key": "${JWT_SECRET}" }'
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: "public"
    labels:
      virtual.host: hasura.${ROOT_DOMAIN}
      virtual.port: 8080
      virtual.tls: ${TLS_EMAIL}

  api:
    restart: unless-stopped
    build:
      context: ./api.planx.uk
      dockerfile: Dockerfile.dev
    # depends_on:
    #   - hasura
    volumes:
      - "./api.planx.uk:/api"
      - "/api/node_modules"
    ports:
      - ${API_PORT}:${API_PORT}
    stdin_open: true
    tty: true
    environment:
      HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET}
      HASURA_GRAPHQL_URL: http://hasura:8080/v1/graphql
      JWT_SECRET: ${JWT_SECRET}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      API_URL_EXT: ${API_URL_EXT}
      EDITOR_URL_EXT: ${EDITOR_URL_EXT}
      SESSION_SECRET: ${SESSION_SECRET}
      AWS_S3_REGION: ${AWS_S3_REGION}
      AWS_ACCESS_KEY: ${AWS_ACCESS_KEY}
      AWS_SECRET_KEY: ${AWS_SECRET_KEY}
      AWS_S3_BUCKET: ${AWS_S3_BUCKET}
      AWS_S3_ACL: ${AWS_S3_ACL}
      PORT: ${API_PORT}
      BOPS_API_ROOT_DOMAIN: ${BOPS_API_ROOT_DOMAIN}
      BOPS_API_TOKEN: ${BOPS_API_TOKEN}
      GOV_UK_PAY_TOKEN_BUCKINGHAMSHIRE: ${GOV_UK_PAY_TOKEN_BUCKINGHAMSHIRE}
      GOV_UK_PAY_TOKEN_LAMBETH: ${GOV_UK_PAY_TOKEN_LAMBETH}
      GOV_UK_PAY_TOKEN_SOUTHWARK: ${GOV_UK_PAY_TOKEN_SOUTHWARK}
    labels:
      virtual.host: api.${ROOT_DOMAIN}
      virtual.port: ${API_PORT}
      virtual.tls: ${TLS_EMAIL}

  sharedb:
    restart: unless-stopped
    build:
      context: ./sharedb.planx.uk
      dockerfile: Dockerfile.dev
    volumes:
      - "./sharedb.planx.uk:/sharedb"
      - "/sharedb/node_modules"
    depends_on:
      - hasura
    ports:
      - ${SHAREDB_PORT}:8000
    stdin_open: true
    tty: true
    environment:
      JWT_SECRET: ${JWT_SECRET}
      PG_URL: postgres://${PG_USERNAME}:${PG_PASSWORD}@postgres/${PG_DATABASE}
    labels:
      virtual.host: sharedb.${ROOT_DOMAIN}
      virtual.port: 8000
      virtual.tls: ${TLS_EMAIL}

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
    volumes:
      - ./minio-data:/data
    environment:
      # use these credentials to login the dashboard or upload files as S3 replacement
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_KEY}
    entrypoint: sh
    command: -c "mkdir -p /data/${AWS_S3_BUCKET} && /usr/bin/minio server /data"
    deploy:
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    labels:
      virtual.host: minio.${ROOT_DOMAIN}
      virtual.port: 9000
      virtual.tls: ${TLS_EMAIL}

  caddy-gen:
    container_name: caddy-gen
    image: "wemakeservices/caddy-gen:latest"
    restart: always
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - caddy_data:/data/caddy # to back up certificates
    ports:
      - "80:80"
      - "443:443"

volumes:
  data:
  caddy_data:
  caddy_config:
