@import "tailwindcss";
@plugin "tailwind-clamp";

@theme {

  /* Custom xs breakpoint */
  --breakpoint-xs: 26rem;

  /*
  / Color palette
  */

  /* Global colors */
  --color-black: #1A1B1B;
  --color-white: #FFFFFF;

  /* Background colors */
  --color-bg-main: #DDF0EC;
  --color-bg-light: #F2F5F5;
  --color-bg-dark: var(--color-black);
  --color-bg-mid: #326565;

  /* Text colors */
  --color-text-main: var(--color-black);
  --color-text-secondary: #464949;

  /* Action colors */
  --color-action-main: #FECE85;
  --color-action-main-hover: #FFDFAE;
  --color-action-secondary: #1F2F2B;
  --color-action-secondary-hover: var(--color-black);

 /* Focus colors */
  --color-focus-yellow: #FFDD00;
  --color-focus-black: #0B0C0C;
  
  /*
  / Typography
  */

  --default-font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  /*
  / Form styles
  */

  --input-width: 100%;
  --input-max-width: 28rem;
  --input-height: 48px;
  --input-padding-y: clamp(0.5rem, 2vw, 0.75rem);
  --input-padding-x: clamp(0.5rem, 2vw, 0.75rem);
  --input-font-size: clamp(1rem, 2vw, 1.125rem);
  --input-label-font-size: clamp(1rem, 2vw, 1.125rem);
  --input-border-width: 2px;
  --input-border-color: var(--color-focus-black);

  --input-focus-outline: var(--color-focus-yellow) solid 3px;
  --input-focus-outline-offset: 0px;
  --input-focus-box-shadow: 0px 0px 0px 2px inset;

}

@layer components {

  /*
  / Fluid type styles
  */

  /* Heading styles */
  .text-heading-xl {
    @apply font-bold clamp-[text,3xl,5xl];
    margin-bottom: 0.5em;
  }
  .text-heading-lg {
    @apply font-bold clamp-[text,2xl,4xl];
    margin-bottom: 0.5em;
  }
  .text-heading-md,
  .styled-content h2 {
    @apply font-semibold clamp-[text,xl,3xl];
    margin-bottom: 0.5em;
  }
  .text-heading-sm,
  .styled-content h3 {
    @apply font-semibold clamp-[text,xl,2xl];
    margin-bottom: 0.5em;
  }
  .text-heading-xs,
  .styled-content h4 {
    @apply font-semibold clamp-[text,base,xl];
    margin-bottom: 0.5em;
  }

  /* Paragraph styles */
  .text-body-xl,
  .text-body-xl p {
    @apply clamp-[text,lg,xl];
    margin-bottom: 0.5em;
  }
  .text-body-lg,
  .text-body-lg p {
    @apply clamp-[text,base,lg];
    margin-bottom: 0.5em;
  }
  .text-body-md,
  .text-body-md p {
    @apply clamp-[text,sm,base];
    margin-bottom: 0.5em;
  }
  .text-body-sm,
  .text-body-sm p {
    @apply clamp-[text,xs,sm];
    margin-bottom: 0.5em;
  }
  .styled-content p,
  .styled-content ul,
  .styled-content ol {
    @apply text-text-secondary;
  }
  .styled-content p {
     margin-bottom: 0.5em;
  }
  .styled-content p a {
    @apply text-text-main;
  }
  .styled-content {
    @apply max-w-3xl;
    @apply clamp-[text,base,lg];
  }
  .styled-content ul {
    @apply list-disc ml-10
  }
  .styled-content hr {
    @apply my-8
  }
  .styled-content a:not(.button),
  .paragraph-link,
  .button-link {
    @apply underline underline-offset-6;
  }
  .styled-content a.external::after,
  .paragraph-link--external::after {
    content: " ↗";
  }
  .button-link {
    cursor: pointer;
  }

  /*
  /  Button styles
  */

  /* Core button styles */
  .button {
    @apply inline-block font-semibold rounded transition cursor-pointer;
  }

  /* Button variants */
  .button--primary {
    @apply bg-action-main hover:bg-action-main-hover;
  }
  .button--secondary {
    @apply bg-action-secondary hover:bg-action-secondary-hover text-white;
  }
   .button--disabled {
    @apply bg-gray-300 text-gray-500 hover:bg-gray-300 cursor-default;
  }

  /* Button sizes */
  .button--large {
    @apply clamp-[text,base,lg] clamp-[py,3,4] clamp-[px,4,5];
  }
  .button--medium {
    @apply clamp-[text,sm,base] clamp-[py,2,3] clamp-[px,3,4];
  }
  .button--small {
    @apply clamp-[text,xs,sm] py-2 clamp-[px,2,3];
  }

  /*
  /  Form styles
  */

  input[type="text"],
  input[type="email"],
  input[type="search"] {
    width: var(--input-width);
    max-width: var(--input-max-width);
    height: var(--input-height);
    padding: var(--input-padding-y) var(--input-padding-x);
    font-size: var(--input-font-size);
    border: var(--input-border-width) solid var(--input-border-color);
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus,
  .govuk-checkboxes__input:focus + .govuk-checkboxes__label .govuk-checkboxes__indicator {
    outline: var(--input-focus-outline);
    outline-offset: var(--input-focus-outline-offset);
    box-shadow: var(--input-focus-box-shadow);
  }

  /*
  /  Focus styles
  */

  a:focus {
    @apply outline-none text-[var(--color-focus-black)] no-underline;
    background-color: var(--color-focus-yellow);
    box-shadow: 0 4px var(--color-focus-black);
  }

  .button-focus-style:focus {
    @apply outline-none text-[var(--color-focus-black)] no-underline;
    background-color: var(--color-focus-yellow) !important;
    box-shadow: inset 0 -4px var(--color-focus-black);
    border-radius: 0.25rem 0.25rem 0 0;
  }
  
}


:root {
  --postcode__input__height: var(--input-height);
  --postcode__input__padding: var(--input-padding-y) var(--input-padding-x);
  --postcode__font-family: var(--default-font-family);
  --postcode__input__font-size: var(--input-font-size);
  --postcode__input__border: var(--input-border-width) solid var(--input-border-color);
  --postcode__input__width: var(--input-width);
  --postcode__input__max-width: var(--input-max-width);

  --autocomplete__label__font-size: var(--input-label-font-size);
  --autocomplete__font-family: var(--default-font-family);
}
