---
import { fetchAllLPAs } from "@lib/lpa-api";
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";

export const getStaticPaths = (async () => {
  const lpas = await fetchAllLPAs();

  if (!lpas || !lpas.length) {
    console.warn("No LPAs fetched for dynamic routes. Check GraphQL API.");
    return [];
  }

  return lpas.map((lpa) => ({
    params: { lpa: lpa.slug },
    props: { lpaData: lpa },
  }));
}) satisfies GetStaticPaths;

const { lpaData } = Astro.props;

// TODO: Pass title as prop into layout?
// type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

if (!lpaData) return Astro.redirect("/404");
---

<Layout>
  <h1>{lpaData.name}</h1>
  <h2>Team Slug: {lpaData.slug}</h2>
  <h3>Services:</h3>
  <ul>
    {lpaData.services.map(({ name }) => <li>{name}</li>)}
  </ul>
</Layout>
