---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-main">
    <h1>About local planning services</h1>
    <p>
      Smart digital planning services, designed and build in collaboration with
      local planning authorities.
    </p>
  </div>
  <div class="bg-white">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, qui. Provident, earum possimus? Explicabo natus minima quasi quos veritatis temporibus earum sapiente aliquam, eaque necessitatibus dolorum culpa possimus, perspiciatis cum.</p>
  </div>
</Layout>
