---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Masthead from "@components/Masthead.astro";
---

<Layout>
  <Masthead title="About local planning services">
    <p>Smart digital planning services, designed and build in collaboration with
      local planning authorities.</p>
  </Masthead>
  <Container paddingY>
    <div class="max-w-3xl text-body-lg">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, qui. Provident, earum possimus? Explicabo natus minima quasi quos veritatis temporibus earum sapiente aliquam, eaque necessitatibus dolorum culpa possimus, perspiciatis cum.</p>
    </div>
  </Container>

  
</Layout>
