---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Masthead from "@components/Masthead.astro";
---

<Layout>
  <Masthead title="About local planning services">
  </Masthead>
  <Container paddingY>
    <div class="max-w-3xl text-body-lg">
      <h2 class="text-heading-md">What are local planning services?</h2>
      <p>Local planning services are smart digital tools that help people navigate the planning process, from checking if they need planning permission to submitting a full application. Built by local planning authorities and planning professionals, they offer clear guidance based on local policies.</p>
      <p>These services replace complex forms with simple digital journeys, making planning faster, more transparent, and easier to get right first time. They meet all legal requirements while adapting to the unique needs of each local authority.</p>
    </div>
    <div class="max-w-3xl text-body-lg mt-8">
      <h2 class="text-heading-md">Open Digital Planning</h2>
      <p><a class="paragraph-link paragraph-link--external" href="https://opendigitalplanning.org/">Open Digital Planning</a> is a growing community of councils, planners, designers, and technologists building better digital planning services together. It combines local expertise with national collaboration to solve shared challenges.</p>
      <p>New authorities join regularly, helping shape services that are practical, innovative, and built to work locally. Together, the community is creating a more accessible, consistent planning system for everyone.</p>
    </div>
    <div class="max-w-3xl text-body-lg mt-8">
      <h2 class="text-heading-md">Plan✕</h2>
      <p><a class="paragraph-link paragraph-link--external" href="https://www.planx.uk/">Plan✕</a> is the platform that powers these digital services. Created in close collaboration with local government, it enables planning tools that reflect each council's legislation, policies, and processes.</p>
      <p>As more councils use Plan✕, they become part of a connected network that improves over time through shared learning. It's a flexible, future-ready platform for smarter public services.</p>
    </div>
  </Container>
</Layout>
