---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import OptionCard from "@components/OptionCard.astro";
import Masthead from "@components/Masthead.astro";
import { cards } from "@content/index/cards";
---

<Layout>
  <Masthead title="Local planning services">
    <p>Apply directly to your local planning authority — a faster and more cost-effective way to submit valid planning applications.</p>
    <p>Smart digital planning services, designed and built in collaboration with local planning authorities.</p>
  </Masthead>
  <Container paddingY>
    <div class="flex flex-col lg:flex-row justify-center gap-6">
      {
        cards.map((card) => (
          <OptionCard title={card.title} description={card.description} />
        ))
      }
    </div>
  </Container>
</Layout>
