---
import Layout from "@layouts/Layout.astro";
import PostcodeSearch from "@components/PostcodeSearch.astro";
---

<Layout>
  <PostcodeSearch/>
  <hr />
  Some example URLs -
  <ul>
    <li><a href="/buckinghamshire">Bucks</a></li>
    <li><a href="/camden">Camden</a></li>
    <li><a href="/lambeth">Lambeth</a></li>
  </ul>
</Layout>
