---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Masthead from "@components/Masthead.astro";
import PostcodeSearch from "@components/PostcodeSearch.tsx";
---

<Layout>
  <Masthead title="Start a planning application">
    <p>Send a planning application directly to local planning authorities.</p>
  </Masthead>
  <Container paddingY>
    <section class="mb-4">
       <PostcodeSearch client:load/>
    </section>
    <section>
      <hr />
      Some example URLs -
      <ul>
        <li><a class="underline" href="/buckinghamshire">Bucks</a></li>
        <li><a class="underline" href="/camden">Camden</a></li>
        <li><a class="underline" href="/lambeth">Lambeth</a></li>
      </ul>
    </section>
   
  </Container>
</Layout>
