---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
---

<Layout>
  <Container paddingY>
    <div class="flex flex-col">
      <h1 class="text-heading-xl">Heading xl</h1>
      <h2 class="text-heading-lg">Heading l</h2>
      <h3 class="text-heading-md">Heading m</h3>
      <h4 class="text-heading-sm">Heading s</h4>
      <h5 class="text-heading-xs">Heading xs</h5>
      <p class="text-body-xl">Paragraph xl</p>
      <p class="text-body-lg">Paragraph l</p>
      <p class="text-body-md">Paragraph m</p>
      <p class="text-body-sm">Paragraph s</p>
    </div>
  </Container>
</Layout>
