---
import Layout from "@layouts/Layout.astro";
import Masthead from "@components/Masthead.astro";
import Container from "@components/Container.astro";
---

<Layout>
  <Masthead title="Check your inbox" />
  <Container paddingY>
    <section class="styled-content">
      <p>We've sent you a magic link to access your applications. Please check your email inbox.</p>
    </section>
  </Container>
</Layout>
