---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Masthead from "@components/Masthead.astro";
import { ApplicationsAuth } from "@components/applications/ApplicationsAuth";

const title = "Your applications";
const description = "View applications in progress, and download sent applications.";
---

<Layout title={title} description={description}>
  <Masthead title={title}>
    <p>{description}</p>
  </Masthead>
  <Container paddingY>
    <ApplicationsAuth client:only="react" />
  </Container>
</Layout>
