---
import { ClientRouter } from "astro:transitions";
import "@styles/global.css";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Analytics from "@components/Analytics.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <ClientRouter />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>localplanning.services</title>
    <Analytics/>
  </head>
  <body class="bg-black">
    <Header />
    <main class="bg-white">
      <slot/>
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: var(--color-text-main);
  }
</style>
