.ProseMirror {
  padding: 12px 15px;
  background-color: #fff;
  min-height: 50px;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ProseMirror > * {
  margin: 0;
}

.ProseMirror > * + * {
  margin-top: 10px;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #505a5f;
  opacity: 0.5;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror.ProseMirror-focused {
  border: 1px solid #000;
  box-shadow: inset 0px 0px 0px 1px #000;
  outline: 3px solid #ffdd00;
}

.passport {
  background-color: #f2f2f2;
  color: #000661;
  padding: 2px 4px;
  border-radius: 4px;
}

.mention-items {
  background: #fff;
  font-size: 13px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  width: 150px;
  overflow: hidden;
}

.mention-items-empty {
  padding: 4px 8px;
  margin: 0;
  color: #ababab;
}

.mention-add-button {
  border: 0;
  background: none;
  padding: 4px 8px;
  display: block;
  width: 100%;
  text-align: left;
}

.mention-add-button:hover {
  background: rgba(0, 0, 0, 0.03);
}

.mention-item {
  border: 0;
  background: none;
  padding: 4px 8px;
  display: block;
  width: 100%;
  text-align: left;
}

.mention-input {
  padding: 4px 8px;
  border: 0;
}

.mention-item-selected {
  background: rgba(0, 0, 0, 0.03);
}

.ProseMirror a {
  color: currentColor;
}

.bubble-menu {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
