.ProseMirror {
  padding: 10px;
  background-color: #fff;
}

.ProseMirror .pass {
  background-color: rgba(0, 0, 0, 0.05);
  color: purple;
  padding: 2px;
  border-radius: 2px 4px;
}

.mention-items {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
}

.mention-item {
  border: 0;
  background: none;
  padding: 4px 12px;
  display: block;
  width: 100%;
  text-align: left;
}

.mention-item-selected {
  background: rgba(0, 0, 0, 0.05);
}

.ProseMirror p {
  margin: 0;
}

.ProseMirror a {
  color: currentColor;
}

.bubble-menu {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
