:{$HASURA_GRAPHQL_PORT} {
  reverse_proxy hasura-graphql-engine:8080

  header {
    # Enable HSTS
    Strict-Transport-Security max-age=31536000; includeSubDomains

    # Disable clients from sniffing the media type
    X-Content-Type-Options nosniff

    # Clickjacking protection
    X-Frame-Options DENY

    # Do not leak server information
    -Server
  }
}