[
  {
    "scope": "https://api.os.uk:443",
    "method": "GET",
    "path": "/features/v1/wfs?service=WFS&request=GetFeature&version=2.0.0&typeNames=Highways_RoadLink&outputFormat=GEOJSON&srsName=urn%3Aogc%3Adef%3Acrs%3AEPSG%3A%3A4326&count=1&filter=%0A++++%3Cogc%3AFilter%3E%0A++++++%3Cogc%3APropertyIsLike+wildCard%3D%22%25%22+singleChar%3D%22%23%22+escapeChar%3D%22%21%22%3E%0A++++++++%3Cogc%3APropertyName%3EFormsPartOf%3C%2Fogc%3APropertyName%3E%0A++++++++%3Cogc%3ALiteral%3E%25Street%23usrn45500010%25%3C%2Fogc%3ALiteral%3E%0A++++++%3C%2Fogc%3APropertyIsLike%3E%0A++++%3C%2Fogc%3AFilter%3E%0A++&key=test",
    "body": "",
    "status": 200,
    "response": {
      "type": "FeatureCollection",
      "crs": {"type": "name", "properties": {"name": "EPSG:4326"}},
      "features": [
        {
          "type": "Feature",
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [
              [
                [51.65720268, -0.69660164],
                [51.65760448, -0.69488645],
                [51.6577031, -0.69450712]
              ]
            ]
          },
          "properties": {
            "GmlID": "Highways_RoadLink.1526359",
            "OBJECTID": 1526359,
            "ID": "osgb5000005184492512",
            "Identifier": "http://data.os.uk/id/5000005184492512",
            "InspireIDNamespace": "http://data.os.uk/",
            "InspireIDLocalID": "5000005184492512",
            "Fictitious": "false",
            "RoadClassification": "A Road",
            "RouteHierarchy": "A Road",
            "FormOfWay": "Single Carriageway",
            "TrunkRoad": "false",
            "PrimaryRoute": "false",
            "RoadClassificationNumber": "A404",
            "RoadName1": "Amersham Road",
            "RoadName1Lang": "null",
            "RoadName2": "null",
            "RoadName2Lang": "null",
            "AlternateName1": "null",
            "AlternateName1Lang": "null",
            "AlternateName2": "null",
            "AlternateName2Lang": "null",
            "OperationalState": "Open",
            "Provenance": "OS Rural And OS Height",
            "Directionality": "bothDirections",
            "Length": "155.24",
            "LengthUOM": "m",
            "MatchStatus": "Matched",
            "AlternateIdentifier": "0440_4901460196131",
            "StartGradeSeparation": 0,
            "EndGradeSeparation": 0,
            "RoadStructure": "null",
            "CycleFacility": "null",
            "RoadWidth": "null",
            "RoadWidthConfidenceLevel": "OS Rural And Full Extent",
            "RoadWidthAverage": "8.9",
            "RoadWidthMinimum": "8",
            "NumberOfLanes1": null,
            "NumberOfLanes1Direction": "null",
            "NumberOfLanes1MinMax": "null",
            "NumberOfLanes2": null,
            "NumberOfLanes2Direction": "null",
            "NumberOfLanes2MinMax": "null",
            "NumberOfLanes3": null,
            "NumberOfLanes3Direction": "null",
            "NumberOfLanes3MinMax": "null",
            "NumberOfLanes4": null,
            "NumberOfLanes4Direction": "null",
            "NumberOfLanes4MinMax": "null",
            "ElevationGainInDir": "0",
            "ElevationGainInOppDir": "2.3",
            "FormsPartOf": "Road#osgb4000000023465731,Road#osgb4000000030880900,Street#usrn45500010,Street#usrn80300008",
            "StartNode": "osgb5000005184486801",
            "EndNode": "osgb4000000023254529",
            "RelatedRoadArea": "osgb1000000151134198,osgb1000000151134203",
            "BeginLifespanVersion": "5/25/2020",
            "ValidForm": "null",
            "ReasonForChange": "Modified Attributes",
            "AlternateIdentifierScheme": "NSG Elementary Street Unit ID (ESU ID)",
            "SHAPE_Length": 155.23718862
          }
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json;charset=UTF-8",
      "OMSE-CATEGORY",
      "premium",
      "OMSE-TRANSACTION-COUNT",
      "60",
      "OMSE-PREMIUM-COUNT",
      "5400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "http://127.0.0.1:39685",
    "method": "GET",
    "path": "/roads?usrn=45500010",
    "body": "",
    "status": 200,
    "response": {
      "road.classified": {
        "value": true,
        "text": "is on a Classified Road (Amersham Road - A Road)",
        "data": [
          {
            "type": "Feature",
            "geometry": {
              "type": "MultiLineString",
              "coordinates": [
                [
                  [51.65720268, -0.69660164],
                  [51.65760448, -0.69488645],
                  [51.6577031, -0.69450712]
                ]
              ]
            },
            "properties": {
              "GmlID": "Highways_RoadLink.1526359",
              "OBJECTID": 1526359,
              "ID": "osgb5000005184492[...]
