[
  {
    "scope": "https://www.planning.data.gov.uk:443",
    "method": "GET",
    "path": "/entity.json?entries=current&geometry=POINT%28-1.0498956+51.8547901%29&geometry_relation=intersects&limit=100&dataset=article-4-direction-area&dataset=central-activities-zone&dataset=listed-building&dataset=listed-building-outline&dataset=park-and-garden&dataset=conservation-area&dataset=area-of-outstanding-natural-beauty&dataset=national-park&dataset=world-heritage-site&dataset=world-heritage-site-buffer-zone&dataset=special-protection-area&dataset=scheduled-monument&dataset=tree&dataset=tree-preservation-order&dataset=tree-preservation-zone&dataset=site-of-special-scientific-interest&dataset=special-area-of-conservation&dataset=ancient-woodland",
    "body": "",
    "status": 200,
    "response": {
      "entities": [
        {
          "entry-date": "2022-04-28",
          "start-date": "",
          "end-date": "",
          "entity": 7010002070,
          "name": "Article_4_Direction_s__Aylesbury_Vale_.17",
          "dataset": "article-4-direction-area",
          "typology": "geography",
          "reference": "186731",
          "prefix": "article-4-direction-area",
          "organisation-entity": "67",
          "notes": "Direction Made Under Article 4(1) To Which Article 5(4) Applies",
          "description": "The erection or construction of a gate, fence, wall or other means of enclosure being part of the development comprised within Class A of Part 2 of Schedule 2 to the said Order and not being development comprised within any other class."
        }
      ],
      "links": {},
      "count": 1
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "http://127.0.0.1:50582",
    "method": "GET",
    "path": "/gis/buckinghamshire?geom=POINT(-1.0498956%2051.8547901)",
    "body": "",
    "status": 200,
    "response": {
      "url": "https://www.planning.data.gov.uk/entity.json?entries=current&geometry=POINT%28-1.0498956+51.8547901%29&geometry_relation=intersects&limit=100&dataset=article-4-direction-area&dataset=central-activities-zone&dataset=listed-building&dataset=listed-building-outline&dataset=park-and-garden&dataset=conservation-area&dataset=area-of-outstanding-natural-beauty&dataset=national-park&dataset=world-heritage-site&dataset=world-heritage-site-buffer-zone&dataset=special-protection-area&dataset=scheduled-monument&dataset=tree&dataset=tree-preservation-order&dataset=tree-preservation-zone&dataset=site-of-special-scientific-interest&dataset=special-area-of-conservation&dataset=ancient-woodland",
      "constraints": {
        "articleFour": {
          "value": true,
          "text": "is subject to local permitted development restrictions (known as Article 4 directions)",
          "data": [
            {
              "entry-date": "2022-04-28",
              "start-date": "",
              "end-date": "",
              "entity": 7010002070,
              "name": "Article_4_Direction_s__Aylesbury_Vale_.17",
              "dataset": "article-4-direction-area",
              "typology": "geography",
              "reference": "186731",
              "prefix": "article-4-direction-area",
              "organisation-entity": "67",
              "notes": "Direction Made Under Article 4(1) To Which Article 5(4) Applies",
              "description": "The erection or construction of a gate, fence, wall or other means of enclosure being part of the development comprised within Class A of Part 2 of Schedule 2 to the said Order and not being development comprised within any other class."
            }
          ]
        },
        "listed": {
          "value": false,
          "text": "is not, or is not within, a Listed Building"
        },
        "registeredPark": {
          "value": false,
          "text": "is not in a Historic Park or Garden"
        },
        "designated.conservationArea": {
          "value": false,
          "text": "is not in a Conservation Area"
        },
        "designated.AONB": {
          "value": false,
          "text": "is not in an Area of Outstanding Natural Beauty"
        },
        "designated.nationalPark": {
          "value": false,
          "text": "is not in a National Park"
        },
        "designated.nationalPark.broads": { "value": false },
        "designated.WHS": {
          "value": false,
          "text": "is not an UNESCO World Heritage Site"
        },
        "designated.SPA": {
          "value": false,
          "text": "is not in a Special Protection Area (SPA)"
        },
        "monument": {
          "value": false,
          "text": "is not the site of a Scheduled Monument"
        },
        "tpo": {
          "value": false,
          "text": "is not in a Tree Preservation Order (TPO) Zone"
        },
        "nature.SSSI": {
          "value": false,
          "text": "is not a Site of Special Scientific Interest (SSSI)"
        },
        "nature.SAC": {
          "value": false,
          "text": "is not in a Special Area of Conservation (SAC)"
        },
        "nature.ASNW": {
          "value": false,
          "text": "is not in an Ancient Semi-Natural Woodland (ASNW)"
        },
        "designated": { "value": false },
        "articleFour.buckinghamshire.twyfordgrange": { "value": false },
        "articleFour.buckinghamshire.ivylane": { "value": false },
        "articleFour.buckinghamshire.ruralaylesbury": { "value": false },
        "articleFour.buckinghamshire.piddingtonroad": { "value": true },
        "articleFour.buckinghamshire.rockylane": { "value": false },
        "articleFour.buckinghamshire.bridgestreet": { "value": false },
        "articleFour.buckinghamshire.winslowroad": { "value": false },
        "articleFour.buckinghamshire.amershamroad": { "value": false },
        "articleFour.buckinghamshire.amershamroadeast": { "value": false },
        "articleFour.buckinghamshire.asheridgeroad": { "value": false },
        "articleFour.buckinghamshire.bakerswood": { "value": false },
        "articleFour.buckinghamshire.bakerswoodbrokengate": { "value": false },
        "articleFour.buckinghamshire.ballingerroad": { "value": false },
        "articleFour.buckinghamshire.ballingerroadnorth": { "value": false },
        "articleFour.buckinghamshire.bangorsroadnorth": { "value": false },
        "articleFour.buckinghamshire.beamondendfarm": { "value": false },
        "articleFour.buckinghamshire.blackthornelane": { "value": false },
        "articleFour.buckinghamshire.boismoorroad": { "value": false },
        "articleFour.buckinghamshire.botleyroad": { "value": false },
        "articleFour.buckinghamshire.boundaryroad": { "value": false },
        "articleFour.buckinghamshire.bourneend": { "value": false },
        "articleFour.buckinghamshire.bovingdonheights.a": { "value": false },
        "articleFour.buckinghamshire.bovingdonheights.b": { "value": false },
        "articleFour.buckinghamshire.broadviewchesham": { "value": false },
        "articleFour.buckinghamshire.bryantsbottomroad.a": { "value": false },
        "articleFour.buckinghamshire.bryantsbottomroad.b": { "value": false },
        "articleFour.buckinghamshire.burtonslane": { "value": false },
        "articleFour.buckinghamshire.chalklaneanhydehealth": { "value": false },
        "articleFour.buckinghamshire.chartridgelane": { "value": false },
        "articleFour.buckinghamshire.cheshamroad": { "value": false },
        "articleFour.buckinghamshire.chessfieldparkenclosure": {
          "value": false
        },
        "articleFour.buckinghamshire.churchlane": { "value": false },
        "articleFour.buckinghamshire.collegeplantation": { "value": false },
        "articleFour.buckinghamshire.collumgreen": { "value": false },
        "articleFour.buckinghamshire.commonwood": { "value": false },
        "articleFour.buckinghamshire.commonwoodagri": { "value": false },
        "articleFour.buckinghamshire.commonwoodandpennroad": { "value": false },
        "articleFour.buckinghamshire.commonwoodenclosure": { "value": false },
        "articleFour.buckinghamshire.commonwoodpennroad": { "value": false },
        "articleFour.buckinghamshire.coneybankwood": { "value": false },
        "articleFour.buckinghamshire.copperkinslanecaravan": { "value": false },
        "articleFour.buckinghamshire.cooperkinslaneenclosure": {
          "value": false
        },
        "articleFour.buckinghamshire.coppicesouthheathcaravan": {
          "value": false
        },
        "articleFour.buckinghamshire.cryershillroad": { "value": false },
        "articleFour.buckinghamshire.deanfield": { "value": false },
        "articleFour.buckinghamshire.DO10fulmer": { "value": false },
        "articleFour.buckinghamshire.dorneywoodroad": { "value": false },
        "articleFour.buckinghamshire.eastamershamroadOS0006": {
          "value": false
        },
        "articleFour.buckinghamshire.eastamershamroadOS9269": {
          "value": false
        },
        "articleFour.buckinghamshire.eastjasonshill": { "value": false },
        "articleFour.buckinghamshire.eastjordanslane": { "value": false },
        "articleFour.buckinghamshire.eastlatimervillage": { "value": false },
        "articleFour.buckinghamshire.eastlodgelaneagri": { "value": false },
        "articleFour.buckinghamshire.eastlodgelanecaravan": { "value": false },
        "articleFour.buckinghamshire.eastmarishlane": { "value": false },
        "articleFour.buckinghamshire.eastvaleroad": { "value": false },
        "articleFour.buckinghamshire.ferrylane": { "value": false },
        "articleFour.buckinghamshire.ferrylaneagri": { "value": false },
        "articleFour.buckinghamshire.fourwinds": { "value": false },
        "articleFour.buckinghamshire.fulmer": { "value": false },
        "articleFour.buckinghamshire.fulmerplacefarm": { "value": false },
        "articleFour.buckinghamshire.georgegreen": { "value": false },
        "articleFour.buckinghamshire.gravellyway": { "value": false },
        "articleFour.buckinghamshire.greenacres": { "value": false },
        "articleFour.buckinghamshire.greenstreetfarmagri": { "value": false },
        "articleFour.buckinghamshire.greenstreetfarm.a": { "value": false },
        "articleFour.buckinghamshire.greenstreetfarm.b": { "value": false },
        "articleFour.buckinghamshire.hampdenroad": { "value": false },
        "articleFour.buckinghamshire.hollybushcorner": { "value": false },
        "articleFour.buckinghamshire.johnsonsfarm": { "value": false },
        "articleFour.buckinghamshire.junctionhughendenroad": { "value": false },
        "articleFour.buckinghamshire.lakeendroad": { "value": false },
        "articleFour.buckinghamshire.littlekingsash": { "value": false },
        "articleFour.buckinghamshire.lodgelane": { "value": false },
        "articleFour.buckinghamshire.lodgelaneagri": { "value": false },
        "articleFour.buckinghamshire.lodgelaneenclosure": { "value": false },
        "articleFour.buckinghamshire.lodgelanewestenclosure": {
          "value": false
        },
        "articleFour.buckinghamshire.manorfarm": { "value": false },
        "articleFour.buckinghamshire.mansionlanesouth": { "value": false },
        "articleFour.buckinghamshire.mansionlanewest": { "value": false },
        "articleFour.buckinghamshire.millfarm": { "value": false },
        "articleFour.buckinghamshire.ministrywharf": { "value": false },
        "articleFour.buckinghamshire.nightingaleslanestrip": { "value": false },
        "articleFour.buckinghamshire.northA404": { "value": false },
        "articleFour.buckinghamshire.northandsouthhollowway": {
          "value": false
        },
        "articleFour.buckinghamshire.northballingerroadvaravan": {
          "value": false
        },
        "articleFour.buckinghamshire.northjordansfarm": { "value": false },
        "articleFour.buckinghamshire.northlongpark": { "value": false },
        "articleFour.buckinghamshire.northorbitalroad": { "value": false },
        "articleFour.buckinghamshire.northpark": { "value": false },
        "articleFour.buckinghamshire.northsidesevenhills": { "value": false },
        "articleFour.buckinghamshire.northwelderslane": { "value": false },
        "articleFour.buckinghamshire.officetoresi": { "value": false },
        "articleFour.buckinghamshire.os1178": { "value": false },
        "articleFour.buckinghamshire.os262": { "value": false },
        "articleFour.buckinghamshire.os3100": { "value": false },
        "articleFour.buckinghamshire.os3313.a": { "value": false },
        "articleFour.buckinghamshire.os3313.b": { "value": false },
        "articleFour.buckinghamshire.os4729": { "value": false },
        "articleFour.buckinghamshire.os5200": { "value": false },
        "articleFour.buckinghamshire.os6961": { "value": false },
        "articleFour.buckinghamshire.os8050": { "value": false },
        "articleFour.buckinghamshire.os8349": { "value": false },
        "articleFour.buckinghamshire.parkspringwood": { "value": false },
        "articleFour.buckinghamshire.parslowshillock": { "value": false },
        "articleFour.buckinghamshire.pednorhighroad": { "value": false },
        "articleFour.buckinghamshire.pednorroadanddrydelllane": {
          "value": false
        },
        "articleFour.buckinghamshire.pednorroadcaravan": { "value": false },
        "articleFour.buckinghamshire.pednorroaddrydelllane": { "value": false },
        "articleFour.buckinghamshire.pednorroadenclosure": { "value": false },
        "articleFour.buckinghamshire.pennroad": { "value": false },
        "articleFour.buckinghamshire.pennwood": { "value": false },
        "articleFour.buckinghamshire.phillipshillfarm.a": { "value": false },
        "articleFour.buckinghamshire.phillipshillfarm.b": { "value": false },
        "articleFour.buckinghamshire.piggery": { "value": false },
        "articleFour.buckinghamshire.potkilnlaneandlaytersgreen": {
          "value": false
        },
        "articleFour.buckinghamshire.potterrowcaravan": { "value": false },
        "articleFour.buckinghamshire.potterrowenclosure": { "value": false },
        "articleFour.buckinghamshire.poultry": { "value": false },
        "articleFour.buckinghamshire.purtonlane": { "value": false },
        "articleFour.buckinghamshire.rearuplands": { "value": false },
        "articleFour.buckinghamshire.robertswooddrive": { "value": false },
        "articleFour.buckinghamshire.ruralwycombe": { "value": false },
        "articleFour.buckinghamshire.saunderton": { "value": false },
        "articleFour.buckinghamshire.sedgesfarm": { "value": false },
        "articleFour.buckinghamshire.sheepcotedellroad": { "value": false },
        "articleFour.buckinghamshire.shepherdsfold": { "value": false },
        "articleFour.buckinghamshire.sibleyscoppice": { "value": false },
        "articleFour.buckinghamshire.skimmersorchard.a": { "value": false },
        "articleFour.buckinghamshire.skimmersorchard.b": { "value": false },
        "articleFour.buckinghamshire.skimmersorchard.c": { "value": false },
        "articleFour.buckinghamshire.southA413": { "value": false },
        "articleFour.buckinghamshire.southchartridge": { "value": false },
        "articleFour.buckinghamshire.southeastfinchlane": { "value": false },
        "articleFour.buckinghamshire.southkilnlane": { "value": false },
        "articleFour.buckinghamshire.southlittlemissenden": { "value": false },
        "articleFour.buckinghamshire.southpenfoldlane.a": { "value": false },
        "articleFour.buckinghamshire.southpenfoldlane.b": { "value": false },
        "articleFour.buckinghamshire.southpenfoldlaneOS262": { "value": false },
        "articleFour.buckinghamshire.southsheepcoteroad": { "value": false },
        "articleFour.buckinghamshire.southsidekiln": { "value": false },
        "articleFour.buckinghamshire.southswanbottom": { "value": false },
        "articleFour.buckinghamshire.stokenchurch": { "value": false },
        "articleFour.buckinghamshire.threeoaksfarm": { "value": false },
        "articleFour.buckinghamshire.turnerswood": { "value": false },
        "articleFour.buckinghamshire.turvillevalley": { "value": false },
        "articleFour.buckinghamshire.valleyroad": { "value": false },
        "articleFour.buckinghamshire.wellcottage": { "value": false },
        "articleFour.buckinghamshire.westledgelanecaravan": { "value": false },
        "articleFour.buckinghamshire.weststhubertslane": { "value": false },
        "articleFour.buckinghamshire.westwexhamstreet": { "value": false },
        "articleFour.buckinghamshire.wholedistrictpoultry": { "value": false },
        "articleFour.buckinghamshire.widmerfarm": { "value": false },
        "articleFour.buckinghamshire.wigginton": { "value": false },
        "articleFour.buckinghamshire.wiltonlane": { "value": false },
        "articleFour.buckinghamshire.wooburngreen": { "value": false },
        "articleFour.buckinghamshire.woodlandsmeadow": { "value": false },
        "articleFour.buckinghamshire.wyburnwood": { "value": false },
        "articleFour.buckinghamshire.wyburnwoodagri": { "value": false },
        "articleFour.buckinghamshire.wyburnwoodforestry": { "value": false },
        "articleFour.buckinghamshire.wycombehealthfarmnortheast": {
          "value": false
        },
        "articleFour.buckinghamshire.wycombehealthfarmspurlands": {
          "value": false
        },
        "articleFour.buckinghamshire.wycombeheathfarm": { "value": false },
        "articleFour.buckinghamshire.wycombeheathfarmcaravan": {
          "value": false
        },
        "articleFour.buckinghamshire.caz": {
          "value": false,
          "text": "is not in the Central Activities Zone"
        }
      }
    },
    "rawHeaders": [
      "Express",
      "*",
      "true",
      "Content-Type",
      "application/json; charset=utf-8",
      "12120",
      "ETag",
      "W/\"2f58-wTfYD6eU18pemkBWIUiWutyFpzc\"",
      "Mon, 20 Jun 2022 10:40:56 GMT",
      "close"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://www.planning.data.gov.uk:443",
    "method": "GET",
    "path": "/entity.json?entries=current&geometry=POINT%281.0803887+51.2811746%29&geometry_relation=intersects&limit=100&dataset=article-4-direction-area&dataset=central-activities-zone&dataset=listed-building&dataset=listed-building-outline&dataset=park-and-garden&dataset=conservation-area&dataset=area-of-outstanding-natural-beauty&dataset=national-park&dataset=world-heritage-site&dataset=world-heritage-site-buffer-z[...]
  {
    "scope": "http://127.0.0.1:50585",
    "method": "GET",
    "path": "/gis/canterbury?geom=POINT(1.0803887%2051.2811746)",
    "body": "",
    "status": 200,
    "response": {
      "url": "https://www.planning.data.gov.uk/entity.json?entries=current&geometry=POINT%281.0803887+51.2811746%29&geometry_relation=intersects&limit=100&dataset=article-4-direction-area&dataset=central-activities-zone&dataset=listed-building&dataset=listed-building-outline&dataset=park-and-garden&dataset=conservat[...]
[...]
  {
    "scope": "http://127.0.0.1:50592",
    "method": "GET",
    "path": "/gis/lambeth?geom=POINT(-0.1198903%2051.4922191)",
    "body": "",
    "status": 200,
    "response": {
      "url": "https://www.planning.data.gov.uk/entity.json?entries=current&geometry=POINT%28-0.1198903+51.4922191%29&geometry_relation=intersects&limit=100&dataset=article-4-direction-area&dataset=central-activities-zone&dataset=listed-building&dataset=listed-building-outline&dataset=park-and-garden&dataset=conservati[...]
[...]
  {
    "scope": "http://127.0.0.1:50595",
    "method": "GET",
    "path": "/gis/southwark?geom=POINT(-0.0887039%2051.5021734)",
    "body": "",
    "status": 200,
    "response": {
      "url": "https://www.planning.data.gov.uk/entity.json?entries=current&geometry=POINT%28-0.0887039+51.5021734%29&geometry_relation=intersects&limit=100&dataset=article-4-direction-area&dataset=central-activities-zone&dataset=listed-building&dataset=listed-building-outline&dataset=park-and-garden&dataset=conserva[...]
