{
  "extends": ["../../.eslintrc", "plugin:playwright/playwright-test"],
  "rules": {
    "playwright/expect-expect": [
      "error",
      {
        "additionalAssertFunctionNames": ["expectSections", "publishService", "turnServiceOnline", "makeFlowAService"]
      }
    ],
    "playwright/no-networkidle": "warn"
  }
}
