# Storybook v8 addons (addon-essentials, test) declare peerDeps against storybook@^8
# but work correctly with v10. This setting suppresses the install error until those
# packages publish v10 compatible releases
strict-peer-dependencies=false
