{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:jest/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "off",
    "jest/expect-expect": [
      "error",
      {
        "assertFunctionNames": [
          "expect", 
          // Allow Supertest expect() calls
          "get.expect", 
          "post.expect", 
          "supertest.**.expect"]
      }
    ]
  },
  "globals": {
    "require": "readonly",
    "process": "readonly",
    "__dirname": "readonly",
    "console": "readonly",
    "setTimeout": "readonly",
    "clearTimeout": "readonly",
    "Buffer": "readonly",
    "Headers": "readonly",
    "URLSearchParams": "readonly",
    "exports": "readonly",
    "fetch": "readonly",
    "jest": "readonly",
    "test": "readonly",
    "describe": "readonly",
    "it": "readonly",
    "expect": "readonly",
    "beforeAll": "readonly",
    "beforeEach": "readonly",
    "afterAll": "readonly",
    "afterEach": "readonly"
  },
  "ignorePatterns": "dist/**"
}
