---
import type { LPA, Service } from "@lib/lpa-api";
import { getServiceURL } from "@lib/utils";

interface Props {
  title: string;
  services: Service[];
  lpa: LPA;
}

const { title, services, lpa } = Astro.props;

if (!services.length) return;
---

<section class="border-b clamp-[p,2,3] last:clamp-[pb,0,1] border-gray-300 last:border-0">
  <h3 class="text-heading-sm">{title}</h3>
  <ul>
    {
      services.map((service) => (
        <li class="py-2">
          <a
            class="paragraph-link paragraph-link--external text-body-lg"
            href={getServiceURL({
              domain: lpa.domain,
              lpaSlug: lpa.slug,
              serviceSlug: service.slug,
            })}
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            {service.name}
          </a>
          <p class="text-body-md m-0 py-2 text-text-secondary">{service.summary}</p>
        </li>
      ))
    }
  </ul>
</section>
