---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  id?: string;
}

const { title, id } = Astro.props;
---

<details
  class="w-full max-w-screen-lg bg-bg-light rounded overflow-hidden group"
  id={id}
>
  <summary
    class="list-none flex items-center justify-between gap-4 clamp-[py,3,4] clamp-[px,4,6] cursor-pointer hover:bg-gray-200 group-open:bg-gray-200 text-heading-sm text-left m-0 button-focus-style"
  >
    {title}
    <Icon class="clamp-[w,8,10] h-auto group-open:rotate-180" name="expand" />
  </summary>
  <section class="clamp-[p,2,3] flex flex-col clamp-[gap,3,4] border-t border-gray-300">
    <slot />
  </section>
</details>
