---
import Container from "@components/Container.astro";
import Button from "@components/Button.astro";
---

<section class="clamp-[py,8,12] bg-bg-light">
  <Container class="text-center">
    <h3 class="text-heading-md">Your applications</h3>
    <p class="text-text-secondary text-body-lg mb-6">View your planning applications in progress, and download sent applications.</p>
    <Button href="/applications" variant="secondary" size="medium">View your applications</Button>
  </Container> 
</section>
