---
import Layout from "@layouts/Layout.astro";
import Masthead from "@components/Masthead.astro";
import Container from "@components/Container.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  page: CollectionEntry<"legal">;
}

const { page } = Astro.props;
const { Content } = await render(page);

const publishDate = new Intl.DateTimeFormat("en-GB", {
  day: "numeric",
  month: "long",
  year: "numeric",
}).format(page.data.lastModified);
---

<Layout>
  <Masthead title={page.data.title}>
    <p>{page.data.subheading}</p>
    <p>Published at: {publishDate}</p>
  </Masthead>
  <Container paddingY>
    <Content />
  </Container>
</Layout>
