---
import Button from "@components/Button.astro";
import { actions } from "@content/actions";
import type { Action } from "@stores/action";

interface Props {
  action: Action;
}

const { action } = Astro.props;

const { title, description } = actions[action];
---

<div class="w-full lg:w-1/3 bg-bg-light clamp-[py,5,8] clamp-[px,4,8] rounded">
  <div class="clamp-[mb,4,6]">
    <h2 class="text-heading-sm">{title}</h2>
    <p class="text-text-secondary text-body-md">
      {description}
    </p>
  </div>
  <Button
    href=`./search/${action}`
    variant="primary"
    data-action-button
    data-action={action}
  >
    Find local planning services
  </Button>
</div>

<script>
  import { $action, type Action } from "@stores/action";

  document.addEventListener("astro:page-load", () => {
    const buttons = document.querySelectorAll("[data-action-button]");
    
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const action = button.getAttribute("data-action");
        if (!action) return;

        $action.set(action as Action);
      });
    });
  });
</script>
