---
import Layout from "@layouts/Layout.astro";
import Masthead from "@components/Masthead.astro";
---

<Layout>
  <Masthead title="Check your inbox">
    <p>We've sent you a magic link to access your applications. Please check your email inbox.</p>
  </Masthead>
</Layout>
