---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Masthead from "@components/Masthead.astro";
import EmailForm from "@components/applications/EmailForm";
---

<Layout>
  <Masthead title="Your applications">
    <p>View applications in progress, and download sent applications.</p>
  </Masthead>
  <Container paddingY>
    <EmailForm client:load/>
  </Container>
</Layout>
