---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Masthead from "@components/Masthead.astro";
import { ApplicationsDisplay } from "@components/applications/ApplicationsDisplay";
---

<Layout>
  <Masthead title="Your applications">
    <p>View applications in progress, and download sent applications.</p>
  </Masthead>
  <Container paddingY>
    <ApplicationsDisplay client:only="react"/>
  </Container>
</Layout>
