---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Masthead from "@components/Masthead.astro";
import LoginForm from "@components/applications/LoginForm";
---

<Layout>
  <Masthead title="Your applications">
    <p>View applications in progress, and download sent applications.</p>
  </Masthead>
  <Container paddingY>
    <LoginForm client:load />
  </Container>
</Layout>
