{
  "parser": "@typescript-eslint/parser",
  "plugins": ["simple-import-sort", "jsx-a11y"],
  "extends": ["plugin:jsx-a11y/recommended"],
  "rules": {
    "jsx-a11y/no-autofocus": "off",
    "simple-import-sort/sort": "warn",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "@material-ui/core",
            "message": "See https://github.com/theopensystemslab/planx-new/pull/140"
          },
          {
            "name": "@material-ui/icons",
            "message": "See https://github.com/theopensystemslab/planx-new/pull/140"
          }
        ],
        "patterns": ["@material-ui/*/*/*", "!@material-ui/core/test-utils/*"]
      }
    ]
  }
}
