{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "simple-import-sort",
    "jsx-a11y",
    "testing-library",
    "jest"
  ],
  "extends": [
    "plugin:jsx-a11y/recommended",
    "plugin:testing-library/react",
    "plugin:jest/recommended"
  ],
  "rules": {
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "@mui/material",
            "message": "See https://github.com/theopensystemslab/planx-new/pull/140"
          },
          {
            "name": "@mui/icons-material",
            "message": "See https://github.com/theopensystemslab/planx-new/pull/140"
          },
          {
            "name": "jest-axe",
            "message": "Please import axe-helper instead"
          },
          {
            "name": "@testing-library/user-event",
            "message": "Please import setup() from testUtils to get test user"
          },
          {
            "name": "@testing-library/react",
            "importNames": ["render"],
            "message": "Please import setup() from testUtils to render test component"
          },
          {
            "name": "@mui/styles",
            "importNames": ["styled"],
            "message": "Please import styled from '@mui/material/styles'. Reason: https://mui.com/system/styled/#what-problems-does-it-solve"
          }
        ],
        "patterns": ["@mui/*/*/*"]
      }
    ]
  }
}
