name: End To End Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - ready_for_review
      - review_requested
  workflow_dispatch:
  schedule:
     - cron:  '30 7 * * *'

env:
  PNPM_VERSION: 7.8.0
  NODE_VERSION: 16.13.1 # LTS

jobs:
  end_to_end_tests:
    name: E2E tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.PIZZA_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.PIZZA_AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2
      - name: Copy .env files from Staging S3 to the current working directory with AWS CLI
        run: ./scripts/pull-secrets.sh
      - name: Setup PNPM
        uses: pnpm/action-setup@v2.2.2
        with:
          version: ${{ env.PNPM_VERSION }}
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - name: Install Playwright dependencies
        run: pnpm install --frozen-lockfile && pnpm playwright install
        working-directory: e2e
      - name: Install Playwright Browsers
        run: pnpm playwright install --with-deps
        working-directory: e2e
      - name: Playwright Tests
        run:  pnpm test:playwright
        working-directory: e2e
      - name: Archive Playwright Test Results
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: playwright-report
          path: e2e/playwright-report/
          retention-days: 3
      - uses: actions/upload-artifact@v3
        with:
          name: playwright-video
          path: e2e/test-results/
          retention-days: 3
