name: Pizza Teardown
on:
  pull_request:
    types: [closed]
    branches:
      - main
      - feat/save-and-return # TODO: Delete when feature branch merged

env:
  DOMAIN: planx.pizza
  PULLREQUEST_ID: ${{ github.event.number }}

jobs:
  teardown_pizza:
    runs-on: ubuntu-20.04
    steps:
      - name: Remove vultr resources
        uses: theopensystemslab/vultr-action@v1.15
        with:
          action: destroy
          api_key: ${{ secrets.VULTR_API_KEY }}
          domain: ${{ env.DOMAIN }}
          pullrequest_id: ${{ env.PULLREQUEST_ID }}

      - uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: vultr
          message: |
            Removed vultr server and associated DNS entries
