name: Pull Request
on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - main

env:
  DOMAIN: planx.pizza
  EDITOR_DIRECTORY: editor.planx.uk
  PNPM_VERSION: 7.8.0
  NODE_VERSION: 16.13.1  # 16.13.1 = LTS

jobs:
  changes:
    name: Check file changes
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: read
    outputs:
      api: ${{ steps.filter.outputs.api }}
      e2e: ${{ steps.filter.outputs.e2e }}
      editor: ${{ steps.filter.outputs.editor }}
      hasura: ${{ steps.filter.outputs.hasura }}
      infrastructure: ${{ steps.filter.outputs.infrastructure }}
      sharedb: ${{ steps.filter.outputs.sharedb }}
      commit: ${{ steps.commit.outputs.commit }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Get commit message
        id: commit
        run: |
          echo "commit=$(git show -s --format=%s)" >> $GITHUB_OUTPUT
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            api:
              - 'api.planx.uk/**'
            e2e:
              - 'e2e/**'
            hasura:
              - 'hasura.planx.uk/**'
            infrastructure:
              - 'infrastructure/**'
            editor:
              - 'editor.planx.uk/**'
            sharedb:
              - 'sharedb.planx.uk/**'

  integration_tests:
    name: Run Integration tests
    runs-on: ubuntu-22.04
    needs: [changes]
    if: ${{ needs.changes.outputs.api == 'true' || needs.changes.outputs.e2e == 'true' || needs.changes.outputs.editor == 'true' || needs.changes.outputs.sharedb == 'true' || needs.changes.outputs.hasura == 'true' }}
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.PIZZA_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.PIZZA_AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2
      - name: Copy .env files from Staging S3 to the current working directory with AWS CLI
        run: ./scripts/pull-secrets.sh
      - name: Check if .env files exist
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: ".env, .env.staging, api.planx.uk/.env.test, hasura.planx.uk/.env.test"
          fail: true
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - run: pnpm install --frozen-lockfile
        working-directory: ${{ env.EDITOR_DIRECTORY }}
      - name: Start test containers
        run: ./scripts/start-containers-for-tests.sh
      - name: Postgres Tests
        run: ./hasura.planx.uk/run-postgres-tests.sh
      - run: pnpm i -g hasura-cli
      - name: Hasura Tests
        run: pnpm install --frozen-lockfile && pnpm test
        working-directory: hasura.planx.uk/tests

  api_tests:
    name: Run API Tests
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    needs: [changes]
    if: ${{ needs.changes.outputs.api == 'true' }}
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.PIZZA_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.PIZZA_AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2
      - name: Copy .env files from Staging S3 to the current working directory with AWS CLI
        run: ./scripts/pull-secrets.sh
      - name: Check if .env files exist
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: ".env, .env.staging, api.planx.uk/.env.test, hasura.planx.uk/.env.test"
          fail: true
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - run: pnpm distribute ../api.planx.uk
        working-directory: core
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: api.planx.uk
      - name: Run API Tests
        run: pnpm install --frozen-lockfile && pnpm check --quiet && pnpm test
        working-directory: api.planx.uk

  test_react:
    name: Run React Tests
    runs-on: ubuntu-22.04
    needs: [changes]
    if: ${{ needs.changes.outputs.editor == 'true' }}
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.PIZZA_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.PIZZA_AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2
      - name: Copy .env files from Staging S3 to the current working directory with AWS CLI
        run: ./scripts/pull-secrets.sh
      - name: Check if .env files exist
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: ".env, .env.staging, api.planx.uk/.env.test, hasura.planx.uk/.env.test"
          fail: true
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - run: pnpm distribute ../${{ env.EDITOR_DIRECTORY }}
        working-directory: core
      - run: pnpm install --frozen-lockfile
        working-directory: ${{ env.EDITOR_DIRECTORY }}
      - run: pnpm build
        working-directory: ${{ env.EDITOR_DIRECTORY }}
      - run: pnpm test
        working-directory: ${{ env.EDITOR_DIRECTORY }}

  build_react_app:
    name: React App
    needs: [changes]
    if: "${{ !contains(needs.changes.outputs.commit, '[skip pizza]') }}"
    uses: ./.github/workflows/build-react.yml
    with:
      # TODO: replace `planx.pizza` for `${{ env.DOMAIN }}`
      #       although it's not possible to use env variables in `with` section
      #       you might be able to use `env` section to set `DOMAIN` variable
      target: "${{ github.event.number }}.planx.pizza"
      environment: "pizza"

  pulumi_preview:
    name: Run Pulumi Preview
    runs-on: ubuntu-22.04
    needs: [changes, build_react_app]
    if: ${{ needs.changes.outputs.infrastructure == 'true' }}
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.STAGING_AWS_ACCESS_KEY_ID }}
          aws-region: eu-west-2
          aws-secret-access-key: ${{ secrets.STAGING_AWS_SECRET_ACCESS_KEY }}
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - run: pnpm install --frozen-lockfile
        working-directory: infrastructure/application
      - name: Download React build assets
        uses: actions/cache@v3
        with:
          fail-on-cache-miss: true
          path: ./${{ env.EDITOR_DIRECTORY }}/build
          key: ${{ runner.os }}-${{ hashFiles('editor.planx.uk/**', '!editor.planx/build/**') }}-pizza
      - uses: pulumi/actions@v3
        with:
          command: preview
          stack-name: staging
          work-dir: infrastructure/application
          edit-pr-comment: true
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}

  hasura-change-summary:
    name: Generate Hasura Change Summary
    runs-on: ubuntu-22.04
    needs: [changes]
    if: ${{ needs.changes.outputs.hasura == 'true' }}
    steps:
      - uses: actions/checkout@v2
      - uses: Fieldguide/action-hasura-change-summary@v2
        id: hasura-change
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          hasura_endpoint: https://hasura.${{ github.event.number }}.${{ env.DOMAIN }}
          project_dir: ./hasura.planx.uk
      - uses: marocchino/sticky-pull-request-comment@v2
        if: ${{steps.hasura-change.outputs.change_html != ''}}
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          header: hasura-change-summary
          message: ${{ steps.hasura-change.outputs.change_html }}
      - uses: marocchino/sticky-pull-request-comment@v2
        if: ${{ steps.hasura-change.outputs.change_html == '' }}
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          header: hasura-change-summary
          delete: true

  create_or_update_vultr_instance:
    name: Upsert Vultr Instance
    needs: [changes, build_react_app]
    runs-on: ubuntu-22.04
    if: "${{ success() && !contains(needs.changes.outputs.commit, '[skip pizza]') }}"
    steps:
      - name: Create Pizza (if it doesn't exist)
        id: create
        uses: theopensystemslab/vultr-action@v1.15
        with:
          action: create
          api_key: ${{ secrets.VULTR_API_KEY }}
          domain: ${{ env.DOMAIN }}
          os_id: 1743
          plan: vc2-1c-1gb
          pullrequest_id: ${{ github.event.number }}
          region: lhr
          tag: pullrequest

      # CREATE STEPS

      - if: steps.create.outputs.ip_address != null
        name: Create commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ github.event.number }}.${{ env.DOMAIN }}
          username: root
          password: ${{ steps.create.outputs.default_password }}
          command_timeout: 20m
          script: |
            git clone "${{ secrets.AUTHENTICATED_REPO_URL }}"
            cd planx-new
            git fetch origin "pull/${{ github.event.number }}/head" && git checkout FETCH_HEAD

            apt-get install awscli -y
            export AWS_ACCESS_KEY_ID=${{ secrets.PIZZA_AWS_ACCESS_KEY_ID }}
            export AWS_SECRET_ACCESS_KEY=${{ secrets.PIZZA_AWS_SECRET_ACCESS_KEY }}
            export AWS_REGION=eu-west-2

            ./scripts/pull-secrets.sh

            echo -e "\nROOT_DOMAIN=${{ github.event.number }}.${{ env.DOMAIN }}\n" > .env.temp
            cat .env .env.temp .env.staging > .env.pizza

            SSH_PASSWORD=${{ secrets.SSH_PASSWORD }} ./scripts/pullrequest/create.sh

      # UPDATE STEPS

      - if: steps.create.outputs.ip_address == null
        name: Update commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ github.event.number }}.${{ env.DOMAIN }}
          username: root
          password: ${{ secrets.SSH_PASSWORD }}
          command_timeout: 10m
          script: |
            git clone "${{ secrets.AUTHENTICATED_REPO_URL }}"
            cd planx-new
            git add . && git stash
            git fetch origin "pull/${{ github.event.number }}/head" && git checkout FETCH_HEAD

            apt-get install awscli -y
            export AWS_ACCESS_KEY_ID=${{ secrets.PIZZA_AWS_ACCESS_KEY_ID }}
            export AWS_SECRET_ACCESS_KEY=${{ secrets.PIZZA_AWS_SECRET_ACCESS_KEY }}
            export AWS_REGION=eu-west-2

            ./scripts/pull-secrets.sh

            echo -e "\nROOT_DOMAIN=${{ github.event.number }}.${{ env.DOMAIN }}\n" > .env.temp
            cat .env .env.temp .env.staging > .env.pizza

            ./scripts/pullrequest/update.sh

      # CREATE & UPDATE STEPS

      - uses: actions/checkout@v2
      - name: Download React build assets
        uses: actions/cache@v3
        with:
          fail-on-cache-miss: true
          path: ./${{ env.EDITOR_DIRECTORY }}/build
          key: ${{ runner.os }}-${{ hashFiles('editor.planx.uk/**', '!editor.planx/build/**') }}-pizza
      - name: upload built editor
        uses: appleboy/scp-action@master
        with:
          host: ${{ github.event.number }}.${{ env.DOMAIN }}
          username: root
          password: ${{ secrets.SSH_PASSWORD }}
          source: "./${{ env.EDITOR_DIRECTORY }}/build"
          target: "planx-new/"
          overwrite: true

      - uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: vultr
          message: |
            ## Pizza

            Deployed ${{ github.sha }} to https://${{ github.event.number }}.${{ env.DOMAIN }}.

            Useful links:
              - [Editor](https://${{ github.event.number }}.${{ env.DOMAIN }})
              - [Storybook](https://storybook.${{ github.event.number }}.${{ env.DOMAIN }})
              - [Hasura](https://hasura.${{ github.event.number }}.${{ env.DOMAIN }})
              - [API](https://api.${{ github.event.number }}.${{ env.DOMAIN }})
              - [ShareDB](https://sharedb.${{ github.event.number }}.${{ env.DOMAIN }})

  healthcheck:
    name: Run Healthcheck on Pizza Services
    needs: [create_or_update_vultr_instance]
    runs-on: ubuntu-22.04
    steps:
      - name: API healthcheck
        run: |
          timeout 150s bash -c "until curl --fail https://api.${{ github.event.number }}.${{ env.DOMAIN }}; do sleep 1; done"

      - name: Hasura healthcheck
        run: |
          timeout 150s bash -c "until curl --fail https://hasura.${{ github.event.number }}.${{ env.DOMAIN }}/healthz; do sleep 1; done"

      - name: Editor healthcheck
        run: |
          timeout 150s bash -c "until curl --fail https://${{ github.event.number }}.${{ env.DOMAIN }}; do sleep 1; done"


  lighthouse:
    name: Lighthouse
    needs: [create_or_update_vultr_instance]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v9
        id: LHCIAction
        with:
          urls: |
            https://editor.planx.dev/buckinghamshire/find-out-if-you-need-planning-permission/preview
            https://${{ github.event.number }}.${{ env.DOMAIN }}/buckinghamshire/find-out-if-you-need-planning-permission/preview
            https://editor.planx.dev/testing/lighthouse-canary-flow/unpublished
            https://${{ github.event.number }}.${{ env.DOMAIN }}/testing/lighthouse-canary-flow/unpublished
          uploadArtifacts: true  # save results as an action artifacts
          temporaryPublicStorage: true  # upload lighthouse report to the temporary storage
      - name: Interpolate comment text
        id: text
        uses: actions/github-script@v6
        with:
          script: |
            const links = JSON.parse('${{steps.LHCIAction.outputs.links}}');
            const manifests = JSON.parse('${{steps.LHCIAction.outputs.manifest}}');

            const text = getMarkdown(manifests, links);
            core.setOutput("text", `## Lighthouse\n\n${text}`);


            function getMarkdown(manifests, links) {
              const urls = [
                `buckinhamshire/FOIYNPP`,
                `testing/canary`,
              ];

              const s = manifests.map(manifest => manifest.summary);
              const attributes = Object.keys(s[0]);

              const rows = attributes.map((attr, i) => {

                const FOIYNPPDiff = (s[0][attr] - s[1][attr]).toFixed(2);
                const FOIYNPP = `[${s[0][attr]}](${manifests[0].url}) - [${s[1][attr]}](${manifests[1].url}) = [${FOIYNPPDiff}](${links[manifests[1].url]})`;

                const canaryDiff = (s[2][attr] - s[3][attr]).toFixed(2);
                const canary = `[${s[2][attr]}](${manifests[2].url}) - [${s[3][attr]}](${manifests[3].url}) = [${canaryDiff}](${links[manifests[3].url]})`;
                return `| ${attr} | ${FOIYNPP} | ${canary}`;
              }).join('|\n');

              const urlHeader = urls.join(' | ');
              const middleColumns = urls.map(() => ':---:').join('|');

              return `
              |  | ${urlHeader} |
              |------------|${middleColumns}|
              ${rows}|
              `;
            }
      - uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: lighthouse
          message: ${{steps.text.outputs.text}}

  end_to_end_tests:
    name: E2E tests
    runs-on: ubuntu-22.04
    needs: [changes]
    if: ${{ needs.changes.outputs.api == 'true' || needs.changes.outputs.e2e == 'true' || needs.changes.outputs.editor == 'true' || needs.changes.outputs.sharedb == 'true' || needs.changes.outputs.hasura == 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.PIZZA_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.PIZZA_AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2
      - name: Copy .env files from Staging S3 to the current working directory with AWS CLI
        run: ./scripts/pull-secrets.sh
      - name: Setup PNPM
        uses: pnpm/action-setup@v2.2.2
        with:
          version: ${{ env.PNPM_VERSION }}
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - name: Install Playwright
        run: pnpm install --frozen-lockfile
        working-directory: e2e
      - name: Install Playwright Dependencies
        run: pnpm playwright install --with-deps
        working-directory: e2e
      - name: Start test containers
        run: ./scripts/start-containers-for-tests.sh
      - name: Playwright Tests
        run:  pnpm test
        working-directory: e2e
      - name: Archive Playwright Test Results
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: playwright-report
          path: e2e/test-results/
          retention-days: 3
